<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Comentarios</title>
    <!-- Incluir Bootstrap CSS desde CDN -->
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>


<body>
    <div class="container mt-4">
        <!-- Encabezado de la página -->
        <header th:replace="~{fragments/header :: headerFragment}"></header>

        <div class="row">
            <div class="col-md-8">
                <h4>Comentarios</h4>
                 <div th:each="comentario : ${comentarios}" class="comentario">
        <p>
            <span th:text="${comentario.usuario.username}"></span>: 
            <span th:text="${comentario.contenido}"></span>
        </p>
        <!-- <p class="fecha" th:text="${#temporals.format(comentario.fechaCreacion, 'yyyy-MM-dd HH:mm')}"></p>-->
    </div>

            </div>
        </div>

        <!-- Pie de página -->
        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
    </div>

    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
